<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Main</a></li>
    <li class="breadcrumb-item active" aria-current="page">Update User</li>
  </ol>
</nav>

{{#if alert}}
  <div class="alert alert-success alert-dismissible col-10 show" role="alert">
    {{alert}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{{/if}}

{{#each rows}}
<form class="row g-2 needs-validation" method="POST" action="/update_user/{{this.id}}"> 
  {{> user_form}}
</form>
{{/each}}